<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/styles/semantic.min.css" media="screen" title="semantic-ui" charset="utf-8">
    <style media="screen">
        body {
            background-color: #F5F5F5;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h1 class="ui blue image header">
                <div class="blue content">
                    Log in to your account
                </div>
            </h1>
            <form class="ui large form" action="/login" method="POST">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large blue submit button" type="submit">Login</div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
