<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%- include("./head.html", undefined) %>
    <style media="screen">
        .custom-space {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="ui segments">
        <div class="ui horizontal segments">
            <div class="ui center aligned segment">
                <span><img src="/static/images/1.jpg" class="ui mini avatar image"></span>
                <span><%= username %></span>
                <span class="custom-space"></span>
                <span>
                    <i class=" github mini link icon" href="https://github.com/Summerlve"></i>
                </span>
                <span>
                    <i class=" twitter mini link icon" href="https://twitter.com/Summer_Code"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="ui sixteen column grid container">
        <div class="eight column row">
            <div class="eight wide column centered">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="/static/images/1.jpg">
                    </div>
                    <div class="content">
                        <div class="description">
                            中国中国中国中国中国中国中国中国中国中国中国中国中国中国中国中国
                            Kristy is an art director living in New York. Kristy is an art director living in New York.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="eight column row">
            <div class="eight wide column centered">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="/static/images/1.jpg">
                    </div>
                    <div class="content">
                        <div class="description">
                            Kristy is an art director living in New York. Kristy is an art director living in New York.
                            Kristy is an art director living in New York.
                            Kristy is an art director living in New York.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="eight column row">
            <div class="eight wide column centered">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="/static/images/1.jpg">
                    </div>
                    <div class="content">
                        <div class="description">
                            Kristy is an art director living in New York. Kristy is an art director living in New York.
                            Kristy is an art director living in New York.
                            Kristy is an art director living in New York.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="eight column row">
            <div class="eight wide column centered">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="/static/images/1.jpg">
                    </div>
                    <div class="content">
                        <div class="description">
                            Kristy is an art director living in New York. Kristy is an art director living in New York.
                            Kristy is an art director living in New York.
                            Kristy is an art director living in New York.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include("./scripts.html", undefined) %>

</body>
</html>
