<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/static/styles/semantic.min.css" media="screen" title="" charset="utf-8">
    </head>
    <body>
            <div class="ui card">
      <div class="image">
        <img src="/images/avatar2/large/kristy.png">
      </div>
      <div class="content">
        <a class="header">Kristy</a>
        <div class="meta">
          <span class="date">Joined in 2013</span>
        </div>
        <div class="description">Kristy is an art director living in New York. </div>
      </div>
      <div class="extra content">
        <a><i class="user icon"></i> 22 Friends </a>
      </div>
    </div>
        <script src="/static/scripts/jquery.min.js"></script>
        <script src="/static/scripts/semantic.min.js"></script>
    </body>
</html>
